.padding-vertical {
  padding-top: 8rem;
  padding-bottom: 6rem;
}


.card-hover:hover {
  transform: scale(1.02);
  transition: transform 0.2s;
}

.cursor-pointer {
  cursor: pointer;
}

.img-circular {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%; 
  border: 3px solid #ccc; 
  margin: 20px auto 0;
  display: block;
}

.img-circular-sm {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%; 
  border: 3px solid #ccc; 
  margin: 20px auto 0;
  display: block;
}

.borde-card {
  border: 3px solid #0dcaf0cc !important;
  box-shadow: 0 0 10px yellow;
  border-radius: 0.5rem;
}

.altura {
  height: 220px;
  object-fit: cover;
}

.descripcion-card {
  background-color: #000;  
  color: white;             
  border-top: 1px solid #444; 
}

@media (max-width: 576px) {
  .col-10 {
    max-width: 50%;
    margin: 0 auto;
  }
}
